.tank-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  width: 300px;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 1rem;
  background-color: var(--background-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

[data-theme="light"] .tank-page-container {
  background-color: var(--alternate-background-color);
}

.tank-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.editable-input {
  width: 60%;
  padding: 0.5rem;
  border: 1px solid rgba(204, 204, 204, 0.7);
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Lexend Exa";
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.actions button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: "Lexend Exa";
  font-weight: bold;
  cursor: pointer;
}

.actions > .delete-btn {
  background: red;
  color: white;
  border: none;
  transition: all 0.2s ease-in-out;
}

.actions > .delete-btn:hover {
  background: rgb(184, 0, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.tank-page-container .back-btn {
  width: 100%;
  background-color: gray;
  color: white;
  border: none;
  display: flex;
  align-items: center; /* Align icon and text */
  gap: 0.5rem; /* Add some spacing between icon and text */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  position: absolute;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
}

.back-btn > span {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.back-btn:hover {
  background: rgb(105, 105, 105);
  transform: translateX(-50%) translateY(-3px);
}

@media (max-width: 600px) {
  .tank-page-container {
    padding: 1rem;
  }

  .editable-input {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .tank-page-container {
    width: 13rem;
  }
  .tank-page-container * {
    font-size: 0.8rem;
  }
}
