/* Container */
.tank-page-container {
  background-color: rgba(46, 46, 46, 0.5);
  color: var(--primary-text-color);
  padding: 2rem 4rem;
  border-radius: 1rem;
  max-width: 30rem;
  margin: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

[data-theme="light"] .tank-page-container {
  background-color: var(--alternate-background-color);
}

/* Form Fields */
form input[type="text"],
form input[type="number"] {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

form input:focus {
  outline: none;
  border-color: #ffbb00;
  box-shadow: 0 0 8px rgba(255, 187, 0, 0.5);
}

.tank-image {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* Select Group */
.options-selection-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 0rem;
  width: 100%;
}

.tank-page-container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Button */
.creation-btn {
  background: rgb(255, 187, 0);
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-family: "Lexend Exa", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.creation-btn:hover {
  background: #ffcc40;
  transform: scale(1.05);
}

/* Tank Display */
.tank-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 1.5rem;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(129, 129, 129, 0.5);
  padding: 0.5rem 0;
  font-size: 1rem;
}

.detail-item span {
  font-weight: bold;
  color: var(--primary-text-color);
}

.tankid-admin-buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.tankid-admin-buttons > .tankid-delete-btn {
  background-color: red;
}

/* Responsive */
@media (max-width: 600px) {
  .tank-page-container {
    padding: 1.5rem;
  }

  .tankid-admin-buttons {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .tank-page-container {
    padding: 1rem;
  }

  .creation-btn {
    width: 100%;
  }
}
