@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Lexend Exa" system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  list-style: none;
}

:root {
  --background-color: #f6f6f6;
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #ffffff;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

[data-theme="dark"] {
  --background-color: radial-gradient(
    circle,
    rgba(10, 10, 20, 0.9) 10%,
    rgba(5, 5, 10, 1) 80%
  );
  --opposite-background-color: #f6f6f6;
  --foreground-color: #567aff;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #0a0a0a;
  --theme-toggle-bg: #283452;
  --theme-toggle-fg: #00a6ff;
}

[data-theme="light"] {
  --background-color: #f6f6f6;
  --opposite-background-color: radial-gradient(
    circle,
    rgba(10, 10, 20, 0.9) 10%,
    rgba(5, 5, 10, 1) 80%
  );
  --alternate-background-color: rgb(185, 185, 185);
  --foreground-color: #003cff;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #f6f6f6;
  --theme-toggle-bg: #726b10;
  --theme-toggle-fg: #ffd000;
}
